In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df=pd.read_csv('missile_attacks_daily.csv')
df.head()

,time_start,time_end,model,launch_place,target,carrier,launched,destroyed,not_reach_goal,cross_border_belarus,back_russia,still_attacking,affected region,destroyed_details,launched_details,launch_place_details,source
0,2025-03-29 20:00,2025-03-30 09:00,Shahed-136/131,"Primorsko-Akhtarsk and Chauda, Crimea and Kurs...",Ukraine,NaN,111.0,65.0,35.0,NaN,NaN,NaN,"['Sumy oblast', 'Kharkiv oblast', 'Odesa oblas...","{'south': 5, 'north': NaN, 'east': NaN, 'cente...",NaN,NaN,kpszsu/posts/pfbid02nvBpjtAGTavMFEM3GxS2Nmoo27...
1,2025-03-29 20:00,2025-03-30 09:00,Ballistic Missile,Rostov oblast,Ukraine,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kpszsu/posts/pfbid02nvBpjtAGTavMFEM3GxS2Nmoo27...
2,2025-03-28 20:00,2025-03-29 08:30,Shahed-136/131,"Primorsko-Akhtarsk and Chauda, Crimea and Kurs...",Ukraine,NaN,172.0,94.0,69.0,NaN,NaN,NaN,"['Sumy oblast', 'Kharkiv oblast', 'Dnipropetro...","{'south': 1, 'north': NaN, 'east': NaN, 'cente...",NaN,NaN,kpszsu/posts/pfbid02DBuVh2KAtowVp454mWL8cjCnSq...
3,2025-03-27 18:00,2025-03-28 09:00,Shahed-136/131,"Primorsko-Akhtarsk and Chauda, Crimea and Kurs...",Ukraine,NaN,163.0,89.0,51.0,NaN,NaN,NaN,"['Sumy oblast', 'Kharkiv oblast', 'Dnipropetro...","{'south': 12, 'west': 2, 'north': NaN, 'center...",NaN,NaN,kpszsu/posts/pfbid023uwKRv8TaxB43CW3HzXyhVQzYh...
4,2025-03-28,2025-03-28,Unknown UAV,NaN,south,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PvKPivden/posts/pfbid02WBxs2upH9CqxAMwFpoASGTm...

In [7]:
df.target.value_counts()[:10]

Ukraine                                    842
south                                      431
Odesa oblast                               159
Kherson oblast                             150
Mykolaiv oblast                             96
east                                        91
Kharkiv oblast                              68
Dnipropetrovsk oblast                       45
Dnipropetrovsk oblast, Dnipro Raion         33
Dnipropetrovsk oblast, Kryvyi Rih Raion     26
Name: target, dtype: int64

In [11]:
len(df[df['target'].str.contains('Kyiv', case=False, na=False)])

42

In [20]:
df.model.value_counts()[:20]

Shahed-136/131        598
Orlan-10              181
Iskander-M            166
Supercam              165
ZALA                  164
X-59                  151
Lancet                124
X-59/X-69              85
X-101/X-555            74
C-300                  68
Unknown UAV            55
Kalibr                 53
Merlin-VR              42
X-31P                  40
Reconnaissance UAV     39
X-47 Kinzhal           34
Iskander-M/KN-23       32
X-22                   32
Iskander-K             31
Unknown Missile        24
Name: model, dtype: int64

In [19]:
# number of aerial attacks per annum
df['year']=pd.to_datetime(df['time_start']).dt.year
attacks_per_annum=df.groupby('year').size().reset_index(name='quantity')
attacks_per_annum

   year  quantity
0  2022       103
1  2023       528
2  2024      1349
3  2025       306

In [38]:
#means of attack
df['model_group'] = df['model'].replace({
    'Orlan-10': 'Other drones',
    'X-59': 'X-59/X-69',
    'Lancet': 'Other drones',
    'Unknown UAV':'Other drones',
    'Iskander-M/KN-23': 'Iskander',
    'Iskander-M':'Iskander',
    'Iskander-K':'Iskander',
    'Merlin-VR':'Other drones',
    'Supercam':'Other drones',
    'ZALA':'Other drones',
    'Reconnaissance UAV':'Other drones',
    'C-300':'C-300/C-400',
    'X-101/X-555 and Kalibr':'X-101/X-555',
    'X-101/X-555 and Kalibr and Iskander-K':'X-101/X-555',
    'X-101/X-555 and Kalibr and X-59/X-69':'X-101/X-555',
    'X-101/X-555 and X-22 and Kalibr':'X-101/X-555',
    'Iskander-M and Iskander-K':'Iskander',
    'C-300/C-400 and Iskander-M':'C-300/C-400',
    'C-400 and Iskander-M':'C-300/C-400',
    'X-101/X-555 and Kalibr and X-59/X-69':'X-101/X-555',
    'X-22':'X-22/X-32',
    'X-22 and X-32':'X-22/X-32',
    'X-101/X-555 and Kalibr and Iskander-M/KN-23': 'Kalibr'
    
    
})

In [39]:
top_models = df.model.value_counts().head(10).reset_index()
top_models.columns = ['model_group', 'count']
top_models

      model_group  count
0    Other drones    770
1  Shahed-136/131    598
2       X-59/X-69    236
3        Iskander    229
4     C-300/C-400     88
5     X-101/X-555     82
6          Kalibr     53
7           X-31P     40
8    X-47 Kinzhal     34
9            X-22     32

In [42]:
models_launched=df.groupby('model_group')['launched'].sum().sort_values(ascending=False)[:9]

model_group
Shahed-136/131                                 25084.0
X-101/X-555                                     2295.0
Other drones                                    1345.0
X-59/X-69                                        477.0
Iskander                                         467.0
C-300/C-400                                      459.0
Kalibr                                           361.0
X-22/X-32                                        177.0
X-47 Kinzhal                                     122.0
Unknown Missile                                   87.0
X-31P                                             72.0
Молнія                                            28.0
P-800 Oniks                                       23.0
Orlan-10 and ZALA and Supercam                    18.0
Aerial Bomb                                       16.0
Shahed-136/131 and Lancet                         16.0
KAB                                               14.0
C-400                                              8.0
X-69                                               8.0
KN-23                                              8.0
Orlan-10 and Orlan-30 and ZALA and Supercam        7.0
Orion                                              6.0
X-31                                               6.0
X-35                                               5.0
X-22/X-31P                                         4.0
3M22 Zircon                                        4.0
Orlan-10 and Supercam                              4.0
Orlan-10 and ZALA                                  3.0
Mohajer-6                                          3.0
X-31PD                                             3.0
X-59 and X-35                                      3.0
Kub                                                2.0
Iskander-M/KN-23 and X-47 Kinzhal                  2.0
Forpost                                            2.0
X-59MK2                                            1.0
Картограф                                          1.0
Привет-82                                          1.0
Orlan-30                                           1.0
Intercontinental ballistic missile                 1.0
Granat-4                                           1.0
Eleron                                             1.0
Ballistic Missile                                  1.0
Фенікс                                             1.0
Name: launched, dtype: float64